# Solution of Google Play Dataset Homework 
<br> Training: Telkomsel Data Science Academy 
<br> Topic: Basic Python Programming
<br> Author: Bernardus Ari Kuncoro

## Import Packages

In [137]:
import pandas as pd
import numpy as np

## Loading Data

In [150]:
google_play_apps = pd.read_csv('dataset/googleplaystore.csv')
google_play_apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### 1. How many rows and columns reflected in the dataset?

In [151]:
google_play_apps.shape

(10841, 13)

### 2. How many unique apps categories reflected in the dataset?

In [152]:
len(google_play_apps.Category.unique())

34

### 3. How many unique genres according to the dataset?

In [153]:
len(google_play_apps.Genres.unique())

120

### 4. Which code is appropriate to drop duplicate values in 'App' column and remove rows in Python?

In [158]:
google_play_apps.drop_duplicates(subset='App', inplace=True)
google_play_apps.shape

(8190, 13)

### 5. Remove row with 'Free' value in Installs column

Upon removing duplicate of App column, please run the following code to remove a row that contain 'Free' value at the 'Installs' column. You can check first with this code:

In [143]:
google_play_apps[google_play_apps['Installs']=='Free']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

To remove that specific row:

In [144]:
google_play_apps = google_play_apps[google_play_apps['Installs'] != 'Free']

Then, if you want to remove character '+' in column 'Installs', you can run the following codes in Python.

In [145]:
google_play_apps['Installs'] = google_play_apps['Installs'].apply(lambda x: x.replace('+', '') if '+' in str(x) else x)

Then, if you want to remove character ',' in column 'Installs', you can run the following codes in Python.

In [146]:
google_play_apps['Installs'] = google_play_apps['Installs'].apply(lambda x: x.replace(',', '') if ',' in str(x) else x)

### 6. If you want to convert data type of 'Installs' columns into integer, you can run the following code.

In [122]:
google_play_apps['Installs'] = google_play_apps['Installs'].astype(int)

### 7. Match Apps and Category based on provided dataset!

In [126]:
google_play_apps.loc[google_play_apps['App'].isin(['File Commander - File Manager/Explorer',\
                                                   'DU Battery Saver - Battery Charger & Battery Life',\
                                                   'FIFA Soccer','Subway Surfers',\
                                                   'Pinterest','WhatsApp Messenger',\
                                                   'Dropbox',\
                                                   'Flipboard: News For Our Time'])\
                     ,'App':'Category']

                                                     App            Category
336                                   WhatsApp Messenger       COMMUNICATION
1654                                      Subway Surfers                GAME
2552                                           Pinterest              SOCIAL
3473                                             Dropbox        PRODUCTIVITY
3755                        Flipboard: News For Our Time  NEWS_AND_MAGAZINES
8445                                         FIFA Soccer              SPORTS
8896   DU Battery Saver - Battery Charger & Battery Life               TOOLS
10253             File Commander - File Manager/Explorer            BUSINESS

### 8. The following applications were installed by more than 1 billion users, EXCEPT ... .

In [128]:
google_play_apps.loc[google_play_apps['App'].isin(['Google Duo - High Quality Video Calls',\
                                                  'WhatsApp Messenger',\
                                                  'Facebook',\
                                                  'Skype - free IM & video calls']),
                    ['App','Installs']]

                                        App    Installs
336                      WhatsApp Messenger  1000000000
371   Google Duo - High Quality Video Calls   500000000
391           Skype - free IM & video calls  1000000000
2544                               Facebook  1000000000

### 9. Arrange top COMMUNICATION category app from the highest number of reviews to the lowest! 

(Hint: Convert the data type to integer first. It is similar with code that was asked in question 6)

In [133]:
google_play_apps['Reviews'] = google_play_apps['Reviews'].astype(int)
communication = google_play_apps.loc[google_play_apps['Category']=='COMMUNICATION',
                                    ['App','Reviews']]
communication.sort_values(ascending=False,by='Reviews').head(7)

                                             App   Reviews
336                           WhatsApp Messenger  69119316
335     Messenger – Text and Video Chat for Free  56642847
378  UC Browser - Fast Download Private & Secure  17712922
406                  BBM - Free Calls & Messages  12842860
342                              Viber Messenger  11334799
403                  LINE: Free Calls & Messages  10790289
391                Skype - free IM & video calls  10484169

### 10. Arrange top 3 game category apps based on number of installed and rating!

In [135]:
game = google_play_apps.loc[google_play_apps['Category']=='GAME',['App','Category','Installs','Rating']]
game.sort_values(ascending=False,by=['Installs','Rating']).head(3)

                   App Category    Installs  Rating
1654    Subway Surfers     GAME  1000000000     4.5
1722    My Talking Tom     GAME   500000000     4.5
1655  Candy Crush Saga     GAME   500000000     4.4