# Pre-Tes Use Case Churned Customers
**Telkomsel Data Science Academy**
<br> 16 October 2019

In [1]:
import pandas as pd
import statistics as st

In [4]:
#1. Load file

df_churned = pd.read_csv('churn.csv')
df_churned.head()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

**1. Berapa jumlah pelanggan yang terdata ?**

In [17]:
print("Jumlah Pelanggan :",len(df_churned))

Jumlah Pelanggan : 5000

**2. Tampilkan 5 pelanggan dengan total_day_calls dan total_day_minutes terendah**

In [29]:
df_churned.sort_values(ascending=True,by=['total_day_calls','total_day_minutes']).head(5)

      total_day_calls  total_day_minutes
1345                0                0.0
1397                0                0.0
1144               30              216.7
4049               34              135.7
1989               35              144.5

**3. Tampilkan 5 pelanggan dengan total_day_calls dan total_day_minutes tertinggi**

In [23]:
df_churned.sort_values(ascending=False,by=['total_day_calls','total_day_minutes']).head(5)

      total_day_calls  total_day_minutes
1121              165              154.4
468               163               70.9
1460              160              198.1
4562              160              137.9
2392              158              125.4

In [44]:
df=pd.DataFrame(df_churned)
df_churned.sum()

total_day_calls      500147.0
total_day_minutes    901444.5
dtype: float64

In [49]:
df_churned[['total_day_calls','total_day_minutes']].mean()

total_day_calls      100.0294
total_day_minutes    180.2889
dtype: float64